/* ------------------------- Styleguide  -------------------------------------------------- */

/* ------------------------- Fonts -------------------------------------------------- */

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Neue Bit';
    src: url('../fonts/PPNeueBit-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}


/* ------------------------- Colors -------------------------------------------------- */

:root {

    --color-black: #000000;
    --color-dark: #272727;
    --color-gray-dark: #252D29;
    --color-gray: #636363;
    --color-gray-medium: #767270;
    --color-lightgray: #E7E6E4;
    --color-light: #FFFFFF;
    --color-white: #FFFFFF;
    
    --color-primary: #38F997;
    
    --color-border: #474747;
    --color-border-light: rgba(151, 151, 151, 0.225);

    --color-text: var(--color-gray-dark);
    --color-text-light: var(--color-light);

    --alert-error: #ff1818;
    --alert-success: var(--color-primary);

    --animation-primary: .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: .9s cubic-bezier(.7, 0, .3, 1);

    --section-padding: 16.6666vh;
    --container-padding: 8.3333vw;
    --gap-padding: clamp(1.5em, 4vw, 2.5em);

    --columns: 1;
    --title-size: 7vw;
  
}

@media screen and (max-width: 1024px){

    :root { 
        --title-size: 10vw;
    }
}

@media screen and (max-width: 540px){

    :root { 
        --title-size: 18vw;
    }
}


/* ------------------------- Body -------------------------------------------------- */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
li, ul {padding: 0; margin: 0; list-style: none;}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Neue Montreal', sans-serif;
    color: var(--color-text);
    line-height: 1.6;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    font-size: clamp(16px, 1.2vw, 21px);
    background-color: var(--color-light);
}

html, body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    position: relative;
    background-color: var(--color-light);
}

/* Selection */
::selection {
    background-color: var(--color-dark); 
    color: var(--color-primary); 
    text-shadow: none;
}

::-moz-selection {
    background-color: var(--color-dark); 
    color: var(--color-primary); 
    text-shadow: none;
}

/* General */
canvas, img, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

svg {
    max-width: none;
    height: auto;
    box-sizing: border-box;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/* ------------------------- Typography -------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em  {padding: 0; margin: 0; font-style: normal; font-weight: 500; letter-spacing: normal;}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, p.big:last-child, p.small:last-child, a:last-child, strong:last-child  {margin-bottom: 0;}

h1,
h2 {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--title-size) * 1);
    line-height: 1.075;
    color: var(--color-text);
}

h3 {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--title-size) * 0.75);
    line-height: 1.075;
    color: var(--color-text);
}

h3.small,
.form-connect .field input,
.form-connect .field textarea {
    font-size: calc(var(--title-size) * 0.38);
}

@media screen and (max-width: 540px){

    h1,
    h2 {
        font-size: calc(var(--title-size) * .7);
    }

    h3 {
        font-size: calc(var(--title-size) * .5);
    }

    h3.small,
    .form-connect .field input,
    .form-connect .field textarea {
        font-size: calc(var(--title-size) * .35);
    }
}

h1 span.normal,
h2 span.normal,
h3 span.normal {
    display: block;
    font-weight: 500;
    letter-spacing: -0.013em;
}

h1 span.alt,
h2 span.alt,
h3 span.alt {
    display: block;
    font-family: 'Neue Bit', sans-serif;
    font-weight: 700;
    font-size: 1.475em;
    letter-spacing: -0.013em;
    line-height: .7;
    transform: translateY(.1em);
}

h4 {
    font-family: 'Neue Bit', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--title-size) * 0.25);
    line-height: .9;
    color: var(--color-text);
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

h4 span {
    letter-spacing: 0.05em;
}

p {
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
    line-height: 1.388;
    color: var(--color-text);
    letter-spacing: -0.013em;
    font-size: clamp(16px, 1.2vw, 25px);
}

p.small {
    font-size: .8333em;
    line-height: 1.333;
    line-height: 1.75;
    letter-spacing: 0em;
}

strong {
    font-weight: 700;
}
  
a {
    color: var(--color-text);
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

.theme-dark *, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark p {
    color: var(--color-text-light);
}

  
/* ------------------------- Main Elements -------------------------------------------------- */

.section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.section.theme-light {
    background: var(--color-white);
}

.section.theme-lightgray {
    background: var(--color-lightgray);
}

.section.theme-dark {
    background: var(--color-dark);
}

.section-wrap {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.section.full-height {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
}

.section.no-padding {
    padding-top: unset;
    padding-bottom: unset;
}

.container {
    /* margin: 0 auto; */
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 100vw;
    width: 100vw;
}

.container.large {
    padding-left: calc(var(--container-padding) * 0.8333);
    padding-right: calc(var(--container-padding) * 0.8333);
}

.container.medium {
    padding-left: calc(var(--container-padding) * 2);
    padding-right: calc(var(--container-padding) * 2);
} 

.container.small {
    padding-left: calc(var(--container-padding) * 3);
    padding-right: calc(var(--container-padding) * 3);
} 

.container.no-padding {
    padding-left: unset;
    padding-right: unset;
}

.container.no-overflow {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row.no-flex {
    display: block;
}

.row.no-wrap {
    flex-wrap: nowrap;
}

.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

img.overlay,
video.overlay {
    object-fit: cover;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    margin-top: var(--gap-padding);
    margin-bottom: var(--gap-padding);
}

.stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
}

.theme-light .line, .theme-lightgray .line,
.theme-light .stripe, .theme-lightgray .stripe {
    background-color: var(--color-border-light);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1024px){

    .section.full-height {
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
    }

    .container.medium,
    .container.small {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    } 
}

/* ------------------------- Main -------------------------------------------------- */

main {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    background: var(--color-white);
    display: block;
 }
 
 .main-wrap {
    box-sizing: border-box;
    width: 100vw;
    will-change: transform;
    display: block;
 }
 
 main.touch {
    position: relative;
    height: auto;
 }
 
 main.touch .main-wrap {
    position: relative;
 }
 
 @media screen and (max-width: 1024px) {
    main {
       position: relative;
    }
    .main-wrap {
       position: relative;
    }
 }

/* ------------------------- Buttons -------------------------------------------------- */

.btn-row {
    width: 100%;
    position: relative;
    display: flex;
}

.btn {
    position: relative;
    border: 0;
    outline: 0;
}

.btn input {
    cursor: pointer;
}

.btn:last-child {
    margin-bottom: 0;
}

.btn-click {
	cursor: pointer;
	border: 0;
	background: transparent;
	min-width: 1em;
	height: max(3em, 6.5vh);
	padding: 0;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    text-decoration: none;
    will-change: transform;
    outline: 0;
    transform: translateZ(0) rotate(0.001deg);
}

.btn-click:hover {
    cursor: pointer;
}

.btn-fill {
    background: var(--color-primary);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    transition: background-color .2s ease-in-out;
}

.btn-text {
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    padding: 0 1.5em;
    position: relative;

    font-family: 'Neue Bit', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--title-size) * 0.225);
    line-height: .8;
    color: var(--color-text);
    text-transform: uppercase;
}

.btn-text span {
    display: block;
    transform: translateY(10%);
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.btn-click:hover .btn-text {
    color: var(--color-white);
}

.btn-click:hover .btn-fill {
   background: var(--color-dark);
}

/* --- Button Secondary --- */

.btn-secondary .btn-fill {
    background: transparent;
}

/* --- Button Link --- */

/* --- Button Link External --- */

@media screen and (max-width: 1024px){

    .btn-text {
        font-size: 1.4em;
    }

    .btn-click {
        height: 4em;
    }
}

@media screen and (max-width: 540px){

    .btn-text {
        font-size: 1.2em;
    }

    .btn-click {
        height: 3em;
    }
}

/* ------------------------- Social Icons -------------------------------------------------- */

.s-icon {
    position: relative;
    overflow: hidden;
    width: 2.5em;
    height: 2.5em;
    background-color: var(--color-black);
    display: block;
    float: left;
    transition: background-color .2s ease-in-out;
}

.s-icon .s-icon-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0.0001deg);
    width: 50%;
}

.s-icon .s-icon-wrap svg {
    display: block;
    width: 100%;
}

.s-icon .s-icon-wrap svg path {
    fill: var(--color-white);
    transition: all .2s ease-in-out;
}

.s-icon:hover {
    background: var(--color-primary);
    cursor: pointer;
}

.s-icon:hover svg path{
    fill: var(--color-black);
}


/* ------------------------- Color Box -------------------------------------------------- */

.color-box {
    width: calc(33.333% -  1.333em);
    background: var(--primary-dark);
    font-weight: 500;
    color: var(--white);
    margin-right: 2em;
    margin-top: 2em;
}

.color-box:nth-child(3), .color-box:nth-child(6) {
    margin-right: 0;
}

.color-box:before {
    content: "";
    display: block;
    padding-top: 40%;
}

.color-box .overlay {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.color-box.dark {
    background: var(--color-dark);
    box-shadow: inset 0 0 0 1px var(--primary-light);
    color: white;
}

.color-box.black {
    background: var(--color-black);
    color: white;
}

.color-box.dark {
    background: var(--color-dark);
    color: white;
}

.color-box.gray-dark {
    background: var(--color-gray-dark);
    color: white;
}

.color-box.gray-medium {
    background: var(--color-gray-medium);
    color: white;
}

.color-box.lightgray {
    background: var(--color-lightgray);
    color: var(--color-dark);
}

.color-box.light {
    background: var(--color-light);
    box-shadow: inset 0 0 0 1px var(--color-border-light);
}

.color-box.primary {
    background: var(--color-primary);
    color: var(--color-dark);
}


@media screen and (max-width: 1024px){
    .color-box {
        width: calc(50% - 1em);
    }
    
    .color-box:nth-child(3), .color-box:nth-child(6) {
        margin-right: 2em;
    } 

    .color-box:nth-child(even) {
        margin-right: 0;
    } 
}

@media screen and (max-width: 720px){
    .color-box {
        width: 100%;
    }

    .color-box:nth-child(even), .color-box:nth-child(odd) {
        margin-right: 0;
    } 
}

/* ------------------------- Form -------------------------------------------------- */

.form {
    width: 100%;
    display: block;
}

.form-container {
   width: 100%;
}

.hidden-field, .website-field {
   position: absolute;
   left: -9999px;
}

.form input, .form textarea, .form select {
   border:0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.grecaptcha-badge { 
   top: calc(100% - 120px) !important; 
   transform: translate(0, -50%);
   box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 5px !important;
   visibility: hidden;
}

.form-col {
   display: block;
   width: 100%;
   margin-bottom: 2em;
}

.form .field {
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   width: 100%;
   padding: 1em 1.25em;
   border: 1px solid var(--color-gray-medium);
   border-radius: 0;
   font-weight: 500;
   font-size: 1em;
   color: var(--color-dark);
   display: block;
}

.form .field:focus {
   outline: 0;
   outline-width: 1px !important;
   outline-offset: 0px;
   border-radius: 0;
   border: 1px solid var(--color-gray-medium);
}

.form .field::-webkit-input-placeholder, 
.form .field:-ms-input-placeholder,
.form .field::-ms-input-placeholder,
.form .field::placeholder {
   color: var(--color-text-light);
   font-weight: 500;
}

.form textarea.field {
   min-height: 10em;
   padding-top: 1em;
   resize: vertical;
}

.form .label {
   width: 100%;
   display: block;
   margin-bottom: 1em;
   color: var(--color-dark);
   font-size: .75em;
   font-weight: 500;
}

.form .label span {
   color: var(--alert-error);
   font-weight: 700;
}

.form .form-btn {
   padding-left: 1.5em;
   padding-right: 1.5em;
   
}

/* --- Custom Checkbox --- */

.form .checkbox-button {
   display: flex;
   margin-bottom: 1em;
   padding-left: 1.25em;
   align-items: center;
   font-size: 1em;
   font-weight: 500;
}

.form .checkbox-button:hover {
   cursor: pointer;
}

.form .checkbox-button input {
   opacity: 0;
   position: absolute;
   z-index: -1
}

.form .checkbox-button span {
   height: 1.1em;
   margin-bottom: 0px;
   color: var(--color-text);
   order: 2;
   display: inline-block;
}

.form .checkbox-button .custom-check {
   position: relative;
   order: 1;
   width: 20px;
   height: 20px;
   margin-top: 0em;
   margin-right: 0.5em;
   margin-left: -1.25em;
   border: 1px solid var(--color-gray-medium);
   border-radius: 0em;
   box-shadow: 0;
   overflow: hidden;
}

.form .checkbox-button .custom-check:after {
   display: block;
   opacity: 0;
   visibility: hidden;
   content: "";
   width: 100%;
   height: 100%;
   left: 0;
   top: 0; 
   position: absolute;
   background-color: var(--color-primary) ;
   background-image: url("../img/form-checkmark.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.form .checkbox-button input:checked ~ .custom-check:after {
   opacity: 1;
   visibility: visible;
}

.form .checkbox-button:hover input ~ .custom-check {
   background-color: var(--color-lightgray);
}

.form .checkbox-button input:checked ~ .custom-check {
   background-color: var(--color-primary);
   border: 1px solid var(--color-primary);
}

.form .checkbox-button input:checked ~ span {
   color: var(--color-dark);
   font-weight: 500;
}


/* --- Custom Radio --- */

.form .checkbox-button .custom-radio {
   position: relative;
   order: 1;
   width: 20px;
   height: 20px;
   margin-top: 0em;
   margin-right: 0.5em;
   margin-left: -1.25em;
   border: 1px solid var(--color-gray-medium);
   border-radius: 0em;
   box-shadow: 0;
   overflow: hidden;
   border-radius: 50%;
}

.form .checkbox-button .custom-radio:after {
   display: block;
   opacity: 0;
   visibility: hidden;
   content: "";
   width: 6px;
   height: 6px;
   top: 6px;
   left: 6px; 
   position: absolute;
   background: var(--color-light);
   border-radius: 50%;
}

.form .checkbox-button input:checked ~ .custom-radio:after {
   opacity: 1;
   visibility: visible;
}

.form .checkbox-button:hover input ~ .custom-radio {
   background-color: var(--color-light);
}

.form .checkbox-button input:checked ~ .custom-radio {
   background-color: var(--color-primary);
   border: 1px solid var(--color-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-text-fill-color: #000;
   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
   transition: background-color 5000s ease-in-out 0s;
}

input[type=radio] {
   -webkit-appearance: none;
}
